<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckj.dotaguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ckj.dotaguide.CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.ckj.dotaguide.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ckj.dotaguide.activity.HeroInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ckj.dotaguide.activity.HerosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ckj.dotaguide.activity.EquipmentInfoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>